@import "../../../../variables";

.input-container {
    margin-bottom: 4rem;

    input.input {
        font-size: 1.8rem;
        font-weight: 300;
        letter-spacing: 2px;
        padding: .5rem .8rem;
        border-width: 1px;
        border-color: $color-light-gray;
        border-radius: 3px;
        border-style: solid;
        max-width: 100%;

        &::placeholder {
            color: rgba($color-light-gray, 0.4);
        }

        &:focus {
            outline-color: transparent;
            outline-style: none;
            outline-width: 0;
            border-color: $color-primary;
        }

        &.ng-invalid {
            border-color: $color-error;
        }
    }

    .invalid-input {
        color: $color-error;
        font-size: 0.9rem;
    }

    .number-of-characters-to-go {
        color: rgba($color-gray, 0.5);
        font-size: 0.9rem;
    }

    .regenerate-button-container {
        margin-top: 1rem;
    }
}

.tweet-container {
    .loader-container {
        margin-bottom: 2rem;
    }

    .error-message-container {
        margin-bottom: 2rem;
    }
}