nav.navbar {
  div.navbar-brand {
      width: 100%;

      svg.logo {
          height: 28px;
          width: auto;
      }

      .navbar-end {
          margin-left: auto;
      }
  }
}

footer {
  padding: 1rem;

  .links {
      a {
          &:last-child {
              margin-left: 1.2rem;
          }
      }
  }
}
