@import "../../../../variables";

.input-container {
    margin-bottom: 4rem;

    input.input {
        font-size: 1.8rem;
        font-weight: 300;
        letter-spacing: 2px;
        padding: .5rem .8rem;
        border-radius: 3px;
        border: 0;
        max-width: 100%;
        background-color: rgba($color-light-gray, 0.3);

        &::placeholder {
            color: rgba($color-gray, 0.4);
        }

        &:focus {
          background-color: #ffffff;
            outline-color: transparent;
            outline-style: none;
            outline-width: 0;
            box-shadow: 0 1px 6px 0 rgba($color-gray, 0.5);
        }

        &.ng-invalid {
            border-color: $color-error;
        }
    }

    .invalid-input {
        color: $color-error;
        font-size: 0.9rem;
    }

    .number-of-characters-to-go {
        color: rgba($color-gray, 0.5);
        font-size: 0.9rem;
    }

    .re-autocomplete-button-container {
        margin-top: 1rem;
    }
}

.tweet-container {
    .loader-container {
        margin-bottom: 2rem;
    }

    .error-message-container {
        margin-bottom: 2rem;
    }
}
