$color-primary: #009df4;
$color-secondary: #00f457;
$color-tertiary: #f45700;
$color-gray: #575756;
$color-light-gray: #d9d9da;
$color-error: $color-tertiary;

@mixin mobile {
    @media screen and (max-width: 768px) {
        @content;
    }
}