@import "../../../../variables";

.logo-icon {
    width: 8rem;
    height: 8rem;
}

.intro-column {
    padding: 0 2rem;

    @include mobile {
        padding: 0 1rem;
    }

    h1.title {
        line-height: 1.4;
    }

    strong {
        font-weight: 600;
    }
}

img.tweet {
    width: 450px;
    height: auto;
    max-width: 100%;
    box-shadow: 0px 0px 0.3rem #cccccc;
    border-radius: 5px;
}

svg.open-source-icon {
    width: 8rem;
    height: 8rem;
    fill: $color-primary;
}
